<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://placehold.it/64x64" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <b>From: </b><%= conversation.originator.username %> <br>
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "Read", conversation_path(conversation)  %>
    <br>
    <%= link_to 'Move to trash', trash_conversation_path(conversation), method: :post, data: {confirm: 'Are you sure?'}, style:"text-align:center;" %>
  </div>
</div>
