
<div class="row" ">
  <div class="spacer"></div>
  <div class="col-md-12" style= "    text-align: center; margin-top: 7vh; margin-bottom: 5%;">
  <img style=" width: 25%;"class="image-form" src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502983181/messenger_iyf161.png" alt="" style="width: 32%;
    margin-bottom: 4%;">
    <!-- we'll configure this to compose new conversations later -->



  </div>
<div class="container" style="margin-left:5%; margin-right: 5%; ">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
    </div>
  </div>
<div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
      <div class="panel-footer">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  </div>
</div>
