<header style="position: fixed;z-index: 1;">
<nav id='cssmenu' >
<div class="logo"><a href="/"><%= image_tag "wesleymc_logo_png.png", style: 'height: 40px; width: 70px;'%> </a></div>
<div id="head-mobile"></div>
<div class="button"></div>
<ul style="background-color: rgba(0, 0, 0, 0.48);">
<li class='active'><a href='/'> HOME</a></li>
<li><a href='/sermons.html'>SERMONS</a></li>
<li><a href='/history.html'>OUR MINISTRY</a>
   <ul>
      <li><a href='/prayers.html' style="z-index: 1;">Prayer Requests</a>

      </li>
      <li><a href='/construction.html' style="z-index: 1;">Newsletters</a>
         <ul>

         </ul>
      </li>
      <li><a href='/construction.html' style="z-index: 1;">Calendar</a>
         <ul>

         </ul>
      </li>
      <li><a href='/construction.html' style="z-index: 1;">Photo Album</a>
         <ul>

         </ul>
      </li>
   </ul>
</li>
<li><a href='/team.html'>OUR LEADERS</a></li>
<% if user_signed_in? %>

        <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>

    <%= link_to  mailbox_inbox_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <% @count = current_user.mailbox.inbox(:read => false).count(:id).to_i %>
        <% if  @count > 0%>
          <div class="badge badge-blue"><%= current_user.mailbox.inbox(:read => false).count(:id).to_s%></div>

          <% end %>
        </div>
<% end %>
    <% else %>
        <li class="active"><%= link_to "LOGIN", new_user_session_path %></li>
        <li><%= link_to "SIGN UP", new_user_registration_path %></li>
    <% end %>


</ul>
</nav>
</header>
