
<% @sermon.each do |sermon| %>

 <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options-cart-round">
                            <button class="btn btn-default" title="Listen to Sermon"><%= link_to "v", sermon_path(sermon) %>
</span></button>
                        </div>
                        <a href="#"><img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /></a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">Presented By: <%=sermon.speaker  %></p>
                                <h1><%=sermon.title  %></h1><span class="price-new"><%=sermon.speakdate  %></span></div>
                        </div>
                        <%= link_to "Delete", sermon_path(sermon), method: :delete, data: { confirm: "Are you sure?"}, class: "fa fa-trash" %>
                    </div>
                </article>

            </div>
<% end %>
<br><br>
<br>
<%= link_to "new", new_sermon_path %>

