<section class="bg-img-responsive" >

        <div class="jumbotron" style="padding:0px;background-image:url('http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/e_brightness:-57,o_87,q_57/v1502821896/BookAltar_eskihw.jpg');">


    <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502819951/wesleysermons_gd0nwj.png" alt="">



            <div class="bounce"><div class="col-md-6"><i class="fa fa-headphones" style="font-size:5vw;"></i></div>
        </div>
    </section>



<div class="article-list">
  <div class="container">
    <div class="intro">
            <p class="text-center">Welcome to our Sermon archive. Please feel free to click on any Sermon. You can read the Sermon notes, listen to the sermon and even download it to your computer or phone!</p>
    </div>
</div>


    <div class="container" style="background: #555;border-radius: 2%">
      <div class="row">
        <% @sermon.each do |sermon| %>
        <div class="col-xs-12 col-sm-4">

          <div class="card" style="background-image:  linear-gradient(rgba(0,0,0,-0.2), rgba(0,0,0,1.2)), url('http://www.cbmcint.com/wp-content/uploads/2016/06/August-8-MM.jpg');">
            <div class="card-category"><%=sermon.speakdate.to_formatted_s(:long)  %></div>
            <div class="card-description">
            <h2 style="text-align: left;"><%=sermon.title  %></h2>
              <p style="white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;"><%=sermon.description  %></p>
            </div>
            <i class="card-user fa fa-play play" aria-hidden="true" ></i>
            <a class="card-link" <%= link_to "Listen", sermon_path(sermon) %> ></a>

          </div>

        </div>
          <% end %>
      </div>
    </div>




<div class="container" style="text-align: center;margin-top: 5%; padding-bottom: 10%;">
<% if current_user.admin? %>

  <%= link_to "Add New Sermon (Admin Only)" , new_sermon_path, class: "btn-treehouse" %>
  <% else  %>
<% end %>
</div>



