<section class="bg-img-responsive" >

  <div class="jumbotron" style="padding:0px;background-image:url('http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502558665/Capture24_hfqh3w.jpg');">


    <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502927706/prayer_yfgv8q.png" alt="">



  </div>
</section>



<div class="container">
   <div class="row">
      <div class="col-md-12">


 <h2 style="text-align: center; color: red;"> Please Join Us In Prayer For:<br></h2>

<p style="text-align: center;"> All members of the Wesley United Methodist Church and the Children of the World  </p>
<h2><i class="fa fa-heart" aria-hidden="true" style="display: block; margin-left: auto; margin-right: auto; color: red;"></i></h2>
      </div>
  </div>

</div>

<div class="container-prayer" style="margin-right: 10%, margin-left: 10%;border-radius: ">
<div class="prayer-div">
  <ul class="prayer-ul">

<% @prayer.each do |prayer| %>
    <li class="prayer-li">
       <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502482668/flamelogo_xphv4h.png" class="prayer-img" style="width: 100px, height: 100px;" />
      <h3 class="prayer-h3" > <%= prayer.recipient %> </h3>

      <p class="prayer-p" >-<%= prayer.description %></p>



      <p class="prayer-p">

      <% if current_user.nil?  %>

            <% else %>
             <%   if current_user.admin? || current_user.id == prayer.user_id  %>

      <%= link_to "edit", edit_prayer_path(prayer), class: "btn-medium" %>
            <%= link_to "Delete", prayer_path(prayer) , class: "btn-medium" , method: :delete, data: { confirm: "Are you sure?"} %>
            <% else %>
            <% end %>
        <% end %>
            </p>
    </li>

<% end %>
  </ul>
</div>
</div>













    <div class="container" style="text-align: center;margin-top: 5%; padding-bottom: 10%;">

<% if current_user.nil?  %>
<% else %>
      <%= link_to "Add New Prayer Request" , new_prayer_path, class: "btn-treehouse" %>
        <% end %>
    </div>




