<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Wesley Methodist Kansas City</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyC7Pb5c8kI_An0jW1dVDfXYl5N8wosw5aw"></script>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
