<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Wesley Methodist Kansas City</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Contact-Form-Clean.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
    <link rel="stylesheet" href="Lightbox-Gallery.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Pb5c8kI_An0jW1dVDfXYl5N8wosw5aw&callback=initMap"
  type="text/javascript"></script>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
