<!DOCTYPE html>
<html>
  <head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <%=   favicon_link_tag "411265.png" , type: "image/png" %>
    <title>Wesley Methodist Kansas City</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Contact-Form-Clean.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
    <link rel="stylesheet" href="Lightbox-Gallery.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Article-List.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Carousel-Hero.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Central-Align-Logo-Header-With-Nav.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Central-Aligned-Clear-Nav.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/stylesheets/pages/bootstrapstudio/swiper.min.css">
<link rel="stylesheet" href="assets/css/image-card-materialize.css">
    <link rel="stylesheet" href="assets/css/image-card-materialize1.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Jumbotron-Advanced-Responsive-Tint.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Jumbotron-Advanced-Responsive-Tint1.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Jumbotron-Circular-Addon.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Map-Clean.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/nav-sticky-top.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/New Folder/--mp---Bouncing-down-arrows-animation1.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Parallax-Scroll-Effect1.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Simple-Slider.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/styles.css">
    <link rel="stylesheet" href="assets/stylesheets/pages/bootstrapstudio/Team-Boxed.css">
 <%= render 'shared/navbar' %>
  </head>
  <body ">

  <%= render 'shared/flashes' %>

 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Pb5c8kI_An0jW1dVDfXYl5N8wosw5aw&callback=initMap"
  type="text/javascript"></script>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
</html>
